@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');


body{
background: linear-gradient(to right, #f8ff95 0%, rgb(174, 240, 174), #ff99cc 100%);
}

h1{
    font-family: 'Shizuru',sans-serif;
    text-align: center;
}
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
    font-size: 22px;
    color: black;
}

h6{
font-family:Verdana, Geneva, Tahoma, sans-serif ;
font-size: 15px;

}


